<img src="{{ image }}" alt="Image du personnage">
<h2><span>{{{ name }}}</span></h2>
<h3>{{{ species }}}</h3>

<div class="informations">
  <ul>
    <li>
      <h4>Gender</h4>
      <p>{{{ gender }}}</p>
    </li>
    <li>
      <h4>Origin location</h4>
      <p>{{{ origin }}}</p>
    </li>
    <li>
      <h4>First seen in</h4>
      <p>{{{ episode }}}</p>
    </li>
  </ul>
</div>

<div class="status">
  <div class="color"></div>
  <p>{{{ status }}}</p>
</div>